[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/librevfree"]
	path = vendor/librevfree
	url = https://github.com/heyallnorahere/librevfree.git
